.timer-container {
    display: flex;
    align-items: center;
    background-color: black;
    color: #00FF00;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border: 2px inset grey;
    width: 250px;
    margin: 10px auto;
  }
  
  .timer-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  .timer-text {
    margin-right: 7px;
    
  }
  